page-add {
    
};
.find {
    text-transform: none;
    font-size: 18px;
};

.small {
    font-size: 12px;
    color: gray;
};

.arrow {
    color: gray;
};

.drop {
    padding-right: 30px;
}

.course {
    text-transform: none;
    font-size: 18px;
    color: black;
}