<ion-header>
  <ion-navbar>
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button class="menuBar" ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <ion-title align="center" class="title">
                Add Courses
                </ion-title>
            </ion-col>
            <ion-col no-padding>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <div class="small">Auto</div>
        <button ion-row no-padding class="find" icon-right ion-button color="dark" full clear (click)="listCourses('find')">
            <ion-col no-padding align="left">Find Courses</ion-col>
            <ion-icon ion-col align="right" class="arrow" name="arrow-forward"></ion-icon>
        </button>
        <div class="small" padding-bottom>Finds courses you can take and fit into your schedule.</div>
        <button ion-row no-padding class="find" icon-right ion-button color="dark" full clear (click)="listCourses('recommend')">
            <ion-col no-padding align="left">Recommend Courses</ion-col>
            <ion-icon ion-col align="right" class="arrow" name="arrow-forward"></ion-icon>
        </button>
        <div class="small" padding-bottom>Recommends courses based on similar students</div>
        <div class="small" padding-top>Manual</div>
        <ion-list>
            <ion-item ion-row no-padding>
                <ion-select class="drop" ion-col placeholder="Faculty" [(ngModel)]="faculty">
                    <ion-label>Faculty</ion-label>
                    <ion-option value="csc">CSC</ion-option>
                    <ion-option value="engr">ENGR</ion-option>
                </ion-select>
                <button ion-button ion-col col-3 outline item-right (click)="searchFaculty()">Search</button>
            </ion-item>
            <ion-item class="drop" ion-row no-padding>
                <ion-input type="text" ion-col placeholder="CRN (Ex. 15819)" [(ngModel)]="crn"></ion-input>
                <button ion-button ion-col col-3 outline item-right (click)="registerCRN()">Register</button>
            </ion-item>
        </ion-list>
        <div class="small" padding-top>Current Registration</div>
        <ion-list>
            <button ion-button icon-right no-padding color="dark" full clear *ngFor="let class of classes" (click)="classpage(class)">
                <ion-item ion-row no-padding>
                    <ion-col class="course" ion-col no-padding align="left">{{class.title}}</ion-col>
                    <ion-icon ion-col no-padding item-right align="right" class="arrow" name="arrow-forward"></ion-icon>
                </ion-item>
            </button>
        </ion-list>
        <div class="small" padding-top>Waitlist</div>
        <ion-list>
            <button ion-button icon-right no-padding color="dark" full clear *ngFor="let class of waiting" (click)="classInfo(class)">
                <ion-item ion-row no-padding>
                    <ion-col class="course" no-padding align="left">{{class.title}}</ion-col>
                    <ion-badge ion-col col-2 item-right align="right" color="danger">{{class.position}}</ion-badge>
                </ion-item>
            </button>
        </ion-list>
    </ion-grid>
</ion-content>